  <div class="container py-4">

    <form [formGroup]="basicForm" id="step1" class="was-validated d-block"(ngSubmit)="onSubmit()">
      <div class="py-4 px-3 mb-3 border-bottom d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center align-content-center">
          <div class="bg-primary p-1 rounded-circle border border-primary text-white text-center"
            style="height: 32px; width: 32px;">1</div>
          <span class="mx-2">Basic Information</span>
          <div class="bg-secondary me-2" style="height: 2px; width: 150px;"></div>
          <div class="bg-white p-1 rounded-circle border border-secondary text-center text-muted"
            style="height: 32px; width: 32px;">2</div>
          <span class="mx-2 text-muted">Salary Breakup</span>
        </div>
        <img src="./Employee Enrollment Wizard_files/logo.png" width="200" alt="">
      </div>
      <div class="px-3">
        <div class="row">
          <div class="col-6 py-2">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text"formControlName="name" class="form-control" id="fullName" required="">
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter name!
            </div>
          </div>
          <div class="col-6 py-2">
            <label for="grossSalary" class="form-label">Gross Salary</label>
            <div class="input-group">
              <span class="input-group-text" id="inputGroupPrepend2">&#8377;</span>
              <input type="number"formControlName="grossSalary" class="form-control" id="grossSalary" required="">
            </div>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter name!
            </div>
          </div>
          <div class="col-12 py-2">
            <label for="address" class="form-label">Address</label>
            <textarea type="text"formControlName="address" class="form-control" id="address" style="resize: none;"></textarea>
            <div class="valid-feedback">
              Its optional
            </div>
            <div class="invalid-feedback">
              Please enter name!
            </div>
          </div>
        </div>
      </div>
      <div class="p-3">
        <button type="submit" class="btn btn-primary">Next</button>
      </div>

    </form>

    <form id="step2" class="was-validated d-none">
      <div class="py-4 px-3 mb-3 border-bottom d-flex justify-content-between">
        <div class="d-flex justify-content-start align-items-center align-content-center">
          <div class="bg-success p-1 rounded-circle border border-success text-white text-center"
            style="height: 32px; width: 32px;">1</div>
          <span class="mx-2 text-success fw-bold">Basic Information</span>
          <div class="bg-success me-2" style="height: 2px; width: 150px;"></div>
          <div class="bg-primary p-1 rounded-circle border border-primary text-white text-center"
            style="height: 32px; width: 32px;">2</div>
          <span class="mx-2">Salary Breakup</span>
        </div>
        <img src="./Employee Enrollment Wizard_files/logo.png" width="200" alt="">
      </div>
      <div class="p-3">
        <div class="d-flex flex-wrap justify-content-start">
          <div class="card m-2"*ngFor="let emp of array;let i=index">
            <div class="card-body pt-4">
              <select #select class="form-select"name="select"(change)="onSelect(i,select.value)"[value]="emp.type">
                <option value="">Select Type</option>
                <option value="Basic_Salary">Basic Salary</option>
                <option value="House_Rent_Allowance">House Rent Allowance</option>
                <option value="Medical_Allowance">Medical Allowance (max 12000)</option>
                <option value="Convenience_Allowance">Convenience Allowance</option>
                <option value="Skill_Allowance">Skill Allowance</option>
                <option value="Other_Allowance">Other Allowance</option>
              </select>

              <div class="form-group pt-4">
                <div class="text-center">{{emp.percentage}}%</div>
                <input *ngIf="emp.type==''"type="range" class="form-range"name="range" id="customRange1"[value]="emp.value" >
                <input *ngIf="emp.type=='Basic_Salary'"type="range"#range [step]="stepBasicSalary" [value]="emp.value" class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <input *ngIf="emp.type=='House_Rent_Allowance'"[min]="10"[max]="20"[step]="5"type="range"#range value="0" class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <input *ngIf="emp.type=='Medical_Allowance'"[min]="0"[max]="mAPercentage"type="range"#range class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <input *ngIf="emp.type=='Convenience_Allowance'"[disabled]="true"type="range"#range class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <input *ngIf="emp.type=='Skill_Allowance'"type="range"#range class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <input *ngIf="emp.type=='Other_Allowance'"type="range"#range class="form-range"name="range" id="customRange1"(change)="onRange(i,range.value,select.value)" >
                <h4 class="text-center mt-3">
                  <span>&#8377;</span>
                  {{emp.amount}}
                </h4>
              </div>

              <div class="text-center py-3">
                <a class="text-danger"(click)="onRemoveItem(i)">Remove Item</a>
              </div>
            </div>
          </div>
          <!-- <div class="card m-2">
            <div class="card-body pt-4">
              <select class="form-select">
                <option value="">Select Type</option>
                <option value="Basic Salary">Basic Salary</option>
                <option value="House Rent Allowance">House Rent Allowance</option>
                <option value="Medical Allowance (max 12000)">Medical Allowance (max 12000)</option>
                <option value="Convenience Allowance" selected="">Convenience Allowance</option>
                <option value="Skill Allowance">Skill Allowance</option>
                <option value="Other Allowance">Other Allowance</option>
              </select>

              <div class="form-group pt-4">
                <div class="text-center">0%</div>
                <input type="range" class="form-range" id="customRange1">
                <h4 class="text-center mt-3">
                  <span>&#8377;</span>
                  2000
                </h4>
              </div>

              <div class="text-center py-3">
                <a href="https://ngminds.com/employee-enrollment-wizard.html#" class="text-danger">Remove Item</a>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <div class="card-body pt-4">
              <select class="form-select">
                <option value="">Select Type</option>
                <option value="Basic Salary">Basic Salary</option>
                <option value="House Rent Allowance">House Rent Allowance</option>
                <option value="Medical Allowance (max 12000)">Medical Allowance (max 12000)</option>
                <option value="Convenience Allowance">Convenience Allowance</option>
                <option value="Skill Allowance">Skill Allowance</option>
                <option value="Other Allowance">Other Allowance</option>
              </select>

              <div class="form-group pt-4">
                <div class="text-center">0%</div>
                <input type="range" class="form-range" id="customRange1">
                <h4 class="text-center mt-3">
                  <span>&#8377;</span>
                  0
                </h4>
              </div>

              <div class="text-center py-3">
                <a href="https://ngminds.com/employee-enrollment-wizard.html#" class="text-danger">Remove Item</a>
              </div>
            </div>
          </div>
          <div class="card m-2">
            <div class="card-body pt-4">
              <select class="form-select">
                <option value="">Select Type</option>
                <option value="Basic Salary">Basic Salary</option>
                <option value="House Rent Allowance">House Rent Allowance</option>
                <option value="Medical Allowance (max 12000)">Medical Allowance (max 12000)</option>
                <option value="Convenience Allowance">Convenience Allowance</option>
                <option value="Skill Allowance">Skill Allowance</option>
                <option value="Other Allowance">Other Allowance</option>
              </select>

              <div class="form-group pt-4">
                <div class="text-center">0%</div>
                <input type="range" class="form-range" id="customRange1">
                <h4 class="text-center mt-3">
                  <span>&#8377;</span>
                  0
                </h4>
              </div>

              <div class="text-center py-3">
                <a href="https://ngminds.com/employee-enrollment-wizard.html#" class="text-danger">Remove Item</a>
              </div>
            </div>
          </div> -->
          <div class="card m-2"*ngIf="addAndRemoveCardStatus">
            <div class="card-body d-flex align-items-center">
              <div class="p-4 text-center">
                Remaining Amount to be classified
                <h4 class="text-center mt-4">
                  <span>&#8377;</span>
                  {{totalRemainAmount}}
                </h4>
                <div class="p-2">
                  <a class="text-success"(click)="onAddItem()">Add New Item</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card m-2"*ngIf="!addAndRemoveCardStatus">
            <div class="card-body d-flex flex-wrap align-items-center">
              <h5 class="p-4 m-0 text-center lh-lg">
                Great! <br>
                <small>Total gross amount classified</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="p-3 mt-4">
        <button type="button" class="btn btn-secondary me-2">Previous</button>
        <button type="button" class="btn btn-success">Finish</button>
      </div>
    </form>

  </div>




